@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-slate-900;
  @apply bg-slate-50;
}

.video-docker video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.video-content {
  z-index: 2;
}

.text-gradient-gray {
  @apply bg-gradient-to-br from-slate-700/50 via-slate-100 to-slate-50 text-transparent bg-clip-text;
}

.text-gradient-green {
  @apply bg-gradient-to-br from-slate-800 via-green-900 to-slate-900 text-transparent bg-clip-text;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
